.dekstop_footer_wrapper {
  display: flex;
  background: #535a64;
  height: 350px;
  background-image: url("../../public/footer-map.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.mobile_footer_wrapper {
  display: none;
}

.dekstop_footer_Container {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #9da5af;
  width: 100%;
  padding: 70px 80px;
}

.inner_container {
  width: 450px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qr_code_wrapper {
  width: 138px;
  height: 138px;
  margin-bottom: 10px;
}

.imgStyle {
  width: 100%;
  height: 100%;
}

.tiny_text {
  font-size: 9px;
  margin-bottom: 5px;
  color: #9da5af;
  text-decoration: none;
}

.official_links {
  display: flex;
  font-size: 10px;
  column-gap: 7px;
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  .dekstop_footer_wrapper {
    display: none;
  }
  .mobile_footer_wrapper {
    display: flex;
  }

  .mobile_footer_wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    padding: 0.75rem;
    background: transparent;
    animation: slideUp 0.5s ease forwards;
  }

  .mobile_footer_mainContainer {
    border: 1px solid #ccc;
    background-color: #ffffff;
    height: 40px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 3px;
  }

  .callBtn {
    text-decoration: none;
    color: var(--th-text-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    border-right: 1px solid var(--th-text-dark);
  }

  .whatsaap_btn {
    text-decoration: none;
    color: #25d266;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22%;
    border-right: 1px solid var(--th-text-dark);
  }

  .enquire_btn {
    text-decoration: none;
    color: var(--th-text-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
  }

  /* ✅ Slide-up animation */
  @keyframes slideUp {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
